@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0bf8pkAg.woff2) format('woff2');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body { height: 100%; }
body {
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
}
header {
    height: 100px;
    margin-bottom: 20px;
}
header #logo {
    height: 100%;
}

input[type="email"],
input[type="text"],
input[type="password"] {
    border-left-color: #333;
    color: #333;
    background-color: rgba(51, 51, 51, 0.05);
    border: none;
    border-left: solid 3px #333;
    padding: 5px;
    margin-bottom: 10px;
    font: inherit;
    transition: .3s;
}
input[type="email"]:focus,
input[type="text"]:focus,
input[type="password"]:focus {
    outline: none;
    transition: .3s;
}
label {
    display: flex;
    flex-direction: row;
    margin-bottom: 7px;
}
label input {
    width: 15%;
}
::-webkit-input-placeholder {
    /* Webkit + derivatives */
    color: white;
    opacity: 0.7;
}
:-moz-placeholder {
    /* FF 4-18 */
    color: white;
    opacity: 0.7;
}
button {
    font: inherit;
    padding: 5px 7px;
    border: solid 2px #333;
    background: none;
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    transition: color 0.3s;
}
button:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #333;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition: transform 0.3s ease-out;
}
button:hover, button:focus, button:active {
    color: white;
}
button:hover:before, button:focus:before, button:active:before {
    transform: scaleX(1);
}
